{% extends "base.html" %}

{% block content %}

<h2>Описание API для сайта "Что в кино"</h2>
<p>API предоставляет демонстрационные запросы возвращающие агрегированную информацию с сайтов Афиша, Кинопоиск и TMDB</p>
<ul>
    <li><a href="/api/movies">/api/movies</a> - вернет описание для фильмов представленных на главной странице в формате JSON</li>
    <li><a href="/api/movies/5/cinemas/30">/api/movies/:result_amount/cinemas/:cinemas_amount</a> - вернет аналогичный предыдущему ответ с возможностью выбора максимального кол-ва строк результата и изменения значения фильтра по кол-ву кинотеатров в которых в данный момент показывается фильм</li>
    <ul>
        <li>:result_amount - максимальное количество результатов</li>
        <li>:cinemas_amount - фильтр по минимальному количеству кинотеатров в которых идет показ фильма по данным Афиша.ру</li>
    </ul>
</ul>

{% endblock %}