<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Что в кино</title>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/style.css">
  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            {% for movie in movie_data_list %}
            <div class="card_wrapper col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                  <img class="card-img-top" src="https://st.kp.yandex.net/images/film_iphone/iphone360_{{ movie.kp_id }}.jpg" alt="Card image cap">
                  <div class="card-body">
                    <a href="{{ movie.af_link }}"><h4 class="card-title">{{ movie.af_title }}</h4></a>
                    <p class="card-text">{{ movie.af_description }}</p>
                    <p>Год производства: {{ movie.kp_year }}</p>
                    <p>Рейтинг кинопоиска: {{ movie.kp_rating }}</p>
                    <p>Рейтинг IMDB: {{ movie.kp_imdb_rating }}</p>
                  </div>
                </div>
            </div>
            {% endfor %}

        </div>


    <footer class="footer">
        <p>Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайтов Афиша, Кинопоиск и themoviedb.org.</p>
    </footer>

    </div><!-- /.container -->



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
