{% extends "base.html" %}

{% block content %}

<div class="row">
    {% for movie in movie_data_list %}
    <div class="card_wrapper col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img class="card-img-top" src="https://st.kp.yandex.net/images/film_iphone/iphone360_{{ movie.kp_id }}.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="{{ movie.af_link }}"><h4 class="card-title">{{ movie.af_title }}</h4></a>
            <p class="card-text">{{ movie.af_description }}</p>
            <p>Год производства: {{ movie.kp_year }}</p>
            <p>Рейтинг кинопоиска: {{ movie.kp_rating }}</p>
            <p>Рейтинг IMDB: {{ movie.kp_imdb_rating }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}